---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/send/sms.json
    body:
      encoding: UTF-8
      string: '{"to":{"FBID":["a1","a2","a3"]},"tag_group":"mytaggroup","respect_frequency_caps":false,"content":{"body":"Smsbody"}}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "message" : "Added to queue for processing" , "status" : "success"}'
  recorded_at: Thu, 22 Oct 2020 16:11:32 GMT
recorded_with: VCR 5.1.0
