---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"18","ts":1488267394,"type":"profile","profileData":{"id":18,"created_at":"2017-02-28
        09:36:34 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"aa"}},{"identity":"19","ts":1488267394,"type":"profile","profileData":{"id":19,"created_at":"2017-02-28
        09:36:34 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"aa"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 520 , "error" : "Profile data is incorrect. Age is invalid.Skipped
        record number : 1" , "record" : "{ \"identity\" : \"18\" , \"ts\" : 1488267394
        , \"type\" : \"profile\" , \"profileData\" : { \"id\" : 18 , \"created_at\"
        : \"2017-02-28 09:36:34 +0200\" , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\"
        , \"Gender\" : \"M\" , \"Phone\" : 35922333232 , \"Employed\" : \"Y\" , \"Education\"
        : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"aa\"}}"} , { "status" :
        "fail" , "code" : 520 , "error" : "Profile data is incorrect. Age is invalid.Skipped
        record number : 2" , "record" : "{ \"identity\" : \"19\" , \"ts\" : 1488267394
        , \"type\" : \"profile\" , \"profileData\" : { \"id\" : 19 , \"created_at\"
        : \"2017-02-28 09:36:34 +0200\" , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\"
        , \"Gender\" : \"M\" , \"Phone\" : 35922333232 , \"Employed\" : \"Y\" , \"Education\"
        : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"aa\"}}"}]}'
  recorded_at: Tue, 28 Feb 2017 07:36:35 GMT
recorded_with: VCR 3.0.3
