---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload?dryRun=0
    body:
      encoding: UTF-8
      string: '{"d":[{"FBID":"1414","type":"event","evtData":{"Name":"John"},"evtName":"Web
        Event"}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ ]}'
  recorded_at: Thu, 19 Oct 2017 10:03:22 GMT
- request:
    method: post
    uri: https://api.clevertap.com/1/upload?dryRun=0
    body:
      encoding: UTF-8
      string: '{"d":[{"FBID":"1515","type":"event","evtData":{"Name":"Jill"},"evtName":"Web
        Event"}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ ]}'
  recorded_at: Thu, 19 Oct 2017 10:03:22 GMT
recorded_with: VCR 3.0.3
