---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/send/sms.json
    body:
      encoding: UTF-8
      string: '{"to":{"Email":["john@doe.com"]},"tag_group":"mytaggroup","content":{"body":"Smsbody"},"respect_frequency_caps":false}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "message" : "Added to queue for processing" , "status" : "success"}'
  recorded_at: Thu, 15 Oct 2020 22:29:56 GMT
recorded_with: VCR 5.1.0
