---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"555","ts":1508483325,"type":"event","evtData":{"ID":555,"mobile":true},"evtName":"register"}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ ]}'
  recorded_at: Fri, 20 Oct 2017 07:08:45 GMT
recorded_with: VCR 3.0.3
