---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"3","ts":1488804867,"type":"profile","profileData":{"id":3,"created_at":"2017-03-06
        14:54:27 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"","ts":1488804867,"type":"profile","profileData":{}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ { "status"
        : "fail" , "code" : 523 , "error" : "''identity'' or ''fbId'' or ''gpId''
        or ''objectId'' is necessary under 120 chars to identify the user. Skipped
        record number : 2" , "record" : "{ \"identity\" : \"\" , \"ts\" : 1488804867
        , \"type\" : \"profile\" , \"profileData\" : { }}"}]}'
  recorded_at: Mon, 06 Mar 2017 12:54:27 GMT
recorded_with: VCR 3.0.3
