---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"7","ts":1521649266,"type":"profile","profileData":{"identity":7,"created_at":"2018-03-21
        18:21:06 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"223","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"8","ts":1521649266,"type":"profile","profileData":{"identity":8,"created_at":"2018-03-21
        18:21:06 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"123","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "fail" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 517 , "error" : "Profile data is incorrect. Employed needs
        to be Y/N.Skipped record number : 1" , "record" : { "identity" : "7" , "ts"
        : 1521649266 , "type" : "profile" , "profileData" : { "identity" : 7 , "created_at"
        : "2018-03-21 18:21:06 +0200" , "Name" : "John Rush" , "Email" : "example@gmail.com"
        , "Gender" : "M" , "Phone" : 35922333232 , "Employed" : "223" , "Education"
        : "Graduate" , "Married" : "Y" , "Age" : "18"}}} , { "status" : "fail" , "code"
        : 517 , "error" : "Profile data is incorrect. Employed needs to be Y/N.Skipped
        record number : 2" , "record" : { "identity" : "8" , "ts" : 1521649266 , "type"
        : "profile" , "profileData" : { "identity" : 8 , "created_at" : "2018-03-21
        18:21:06 +0200" , "Name" : "John Rush" , "Email" : "example@gmail.com" , "Gender"
        : "M" , "Phone" : 35922333232 , "Employed" : "123" , "Education" : "Graduate"
        , "Married" : "Y" , "Age" : "18"}}}]}'
  recorded_at: Wed, 21 Mar 2018 16:21:06 GMT
recorded_with: VCR 4.0.0
