---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"12","ts":1488267393,"type":"profile","profileData":{"id":12,"created_at":"2017-02-28
        09:36:33 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"223","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"13","ts":1488267393,"type":"profile","profileData":{"id":13,"created_at":"2017-02-28
        09:36:33 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"123","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 517 , "error" : "Profile data is incorrect. Employed needs
        to be Y/N.Skipped record number : 1" , "record" : "{ \"identity\" : \"12\"
        , \"ts\" : 1488267393 , \"type\" : \"profile\" , \"profileData\" : { \"id\"
        : 12 , \"created_at\" : \"2017-02-28 09:36:33 +0200\" , \"Name\" : \"John
        Rush\" , \"Email\" : \"example@gmail.com\" , \"Gender\" : \"M\" , \"Phone\"
        : 35922333232 , \"Employed\" : \"223\" , \"Education\" : \"Graduate\" , \"Married\"
        : \"Y\" , \"Age\" : \"18\"}}"} , { "status" : "fail" , "code" : 517 , "error"
        : "Profile data is incorrect. Employed needs to be Y/N.Skipped record number
        : 2" , "record" : "{ \"identity\" : \"13\" , \"ts\" : 1488267393 , \"type\"
        : \"profile\" , \"profileData\" : { \"id\" : 13 , \"created_at\" : \"2017-02-28
        09:36:33 +0200\" , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\"
        , \"Gender\" : \"M\" , \"Phone\" : 35922333232 , \"Employed\" : \"123\" ,
        \"Education\" : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"18\"}}"}]}'
  recorded_at: Tue, 28 Feb 2017 07:36:34 GMT
recorded_with: VCR 3.0.3
