---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"555","ts":1488804867,"type":"event","evtData":{"user_id":555,"mobile":true},"evtName":"register"}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ ]}'
  recorded_at: Mon, 06 Mar 2017 12:54:28 GMT
recorded_with: VCR 3.0.3
