---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/send/email.json
    body:
      encoding: UTF-8
      string: '{"to":{"FBID":["102029292929388","114342342453463"],"GPID":["1928288389299292"],"Email":["john@doe.com","jane@doe.com"],"Identity":["JohnDoe"],"objectId":["_asdnkansdjknaskdjnasjkndja","-adffajjdfoaiaefiohnefwprjf"]},"tag_group":"my
        tag group","content":{"subject":"Welcome","body":"<div>Your HTML content for
        the email</div>","sender_name":"CleverTap"},"respect_frequency_caps":false}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "message" : "Added to queue for processing" , "status" : "success"}'
  recorded_at: Thu, 15 Oct 2020 22:29:59 GMT
recorded_with: VCR 5.1.0
