---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload?dryRun=0
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"1414","type":"profile","profileData":{"ID":"1414","Name":"John","Phone":"+44+441234"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "fail" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 516 , "error" : "Profile data is incorrect. Phone number
        is not valid.Skipped record number : 1" , "record" : { "identity" : "1414"
        , "type" : "profile" , "profileData" : { "ID" : "1414" , "Name" : "John" ,
        "Phone" : "+44+441234"}}}]}'
  recorded_at: Wed, 21 Mar 2018 16:21:18 GMT
recorded_with: VCR 4.0.0
