---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"6","ts":1488804868,"type":"profile","profileData":{"id":6,"created_at":"2017-03-06
        14:54:28 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"GG","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"7","ts":1488804868,"type":"profile","profileData":{"id":7,"created_at":"2017-03-06
        14:54:28 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"GG","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 514 , "error" : "Profile data is incorrect. Gender needs
        to be M/F.Skipped record number : 1" , "record" : "{ \"identity\" : \"6\"
        , \"ts\" : 1488804868 , \"type\" : \"profile\" , \"profileData\" : { \"id\"
        : 6 , \"created_at\" : \"2017-03-06 14:54:28 +0200\" , \"Name\" : \"John Rush\"
        , \"Email\" : \"example@gmail.com\" , \"Gender\" : \"GG\" , \"Phone\" : \"+35922333232\"
        , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\" , \"Married\" : \"Y\"
        , \"Age\" : \"18\"}}"} , { "status" : "fail" , "code" : 514 , "error" : "Profile
        data is incorrect. Gender needs to be M/F.Skipped record number : 2" , "record"
        : "{ \"identity\" : \"7\" , \"ts\" : 1488804868 , \"type\" : \"profile\" ,
        \"profileData\" : { \"id\" : 7 , \"created_at\" : \"2017-03-06 14:54:28 +0200\"
        , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\" , \"Gender\"
        : \"GG\" , \"Phone\" : \"+35922333232\" , \"Employed\" : \"Y\" , \"Education\"
        : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"18\"}}"}]}'
  recorded_at: Mon, 06 Mar 2017 12:54:28 GMT
recorded_with: VCR 3.0.3
