---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":16,"ts":1488816781,"type":"profile","profileData":{"identity":16,"created_at":"2017-03-06
        18:13:01 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"223","Age":"18"}},{"identity":17,"ts":1488816781,"type":"profile","profileData":{"identity":17,"created_at":"2017-03-06
        18:13:01 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"123","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 519 , "error" : "Profile data is incorrect. Married needs
        to be Y/N.Skipped record number : 1" , "record" : "{ \"identity\" : 16 , \"ts\"
        : 1488816781 , \"type\" : \"profile\" , \"profileData\" : { \"identity\" :
        16 , \"created_at\" : \"2017-03-06 18:13:01 +0200\" , \"Name\" : \"John Rush\"
        , \"Email\" : \"example@gmail.com\" , \"Gender\" : \"M\" , \"Phone\" : 35922333232
        , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\" , \"Married\" : \"223\"
        , \"Age\" : \"18\"}}"} , { "status" : "fail" , "code" : 519 , "error" : "Profile
        data is incorrect. Married needs to be Y/N.Skipped record number : 2" , "record"
        : "{ \"identity\" : 17 , \"ts\" : 1488816781 , \"type\" : \"profile\" , \"profileData\"
        : { \"identity\" : 17 , \"created_at\" : \"2017-03-06 18:13:01 +0200\" , \"Name\"
        : \"John Rush\" , \"Email\" : \"example@gmail.com\" , \"Gender\" : \"M\" ,
        \"Phone\" : 35922333232 , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\"
        , \"Married\" : \"123\" , \"Age\" : \"18\"}}"}]}'
  recorded_at: Mon, 06 Mar 2017 16:13:01 GMT
recorded_with: VCR 3.0.3
