---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"3","ts":1521649274,"type":"profile","profileData":{"identity":3,"created_at":"2018-03-21
        18:21:14 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"4","ts":1521649274,"type":"profile","profileData":{"identity":4,"created_at":"2018-03-21
        18:21:14 +0200","Name":"John Rush","Email":"$$$$$","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "partial" , "processed" : 1 , "unprocessed" : [ { "status"
        : "fail" , "code" : 515 , "error" : "Profile data is incorrect. Email is not
        valid.Skipped record number : 2" , "record" : { "identity" : "4" , "ts" :
        1521649274 , "type" : "profile" , "profileData" : { "identity" : 4 , "created_at"
        : "2018-03-21 18:21:14 +0200" , "Name" : "John Rush" , "Email" : "$$$$$" ,
        "Gender" : "M" , "Phone" : "+35922333232" , "Employed" : "Y" , "Education"
        : "Graduate" , "Married" : "Y" , "Age" : "18"}}}]}'
  recorded_at: Wed, 21 Mar 2018 16:21:15 GMT
recorded_with: VCR 4.0.0
