---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"3","ts":1508483325,"type":"profile","profileData":{"identity":3,"created_at":"2017-10-20
        10:08:45 +0300","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"4","ts":1508483325,"type":"profile","profileData":{"identity":4,"created_at":"2017-10-20
        10:08:45 +0300","Name":"John Rush","Email":"$$$$$","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "success" , "processed" : 1 , "unprocessed" : [ { "{ \"identity\"
        : \"4\" , \"ts\" : 1508483325 , \"type\" : \"profile\" , \"profileData\" :
        { \"identity\" : 4 , \"created_at\" : \"2017-10-20 10:08:45 +0300\" , \"Name\"
        : \"John Rush\" , \"Email\" : \"$$$$$\" , \"Gender\" : \"M\" , \"Phone\" :
        \"+35922333232\" , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\" , \"Married\"
        : \"Y\" , \"Age\" : \"18\"}}" : "Profile data is incorrect. Email is not valid.Skipped
        record number : 2"}]}'
  recorded_at: Fri, 20 Oct 2017 07:08:45 GMT
recorded_with: VCR 3.0.3
