---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"24","ts":1488267740,"type":"profile","profileData":{"id":24,"created_at":"2017-02-28
        09:42:20 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "fail" , "error" : "Account ID is not valid" , "code"
        : 401}'
  recorded_at: Tue, 28 Feb 2017 07:42:20 GMT
recorded_with: VCR 3.0.3
