---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"19","ts":1521649267,"type":"profile","profileData":{"identity":19,"created_at":"2018-03-21
        18:21:07 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "fail" , "error" : "Account ID is not valid" , "code"
        : 401}'
  recorded_at: Wed, 21 Mar 2018 16:21:07 GMT
recorded_with: VCR 4.0.0
