---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload?dryRun=0
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"1414","type":"profile","profileData":{"ID":"1414","Name":"John","Phone":"+44+441234"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "{ \"identity\"
        : \"1414\" , \"type\" : \"profile\" , \"profileData\" : { \"ID\" : \"1414\"
        , \"Name\" : \"John\" , \"Phone\" : \"+44+441234\"}}" : "Profile data is incorrect.
        Phone number is not valid.Skipped record number : 1"}]}'
  recorded_at: Thu, 19 Oct 2017 09:06:45 GMT
recorded_with: VCR 3.0.3
