---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/send/push.json
    body:
      encoding: UTF-8
      string: '{"to":{"FBID":["102029292929388","114342342453463"],"GPID":["1928288389299292"],"Email":["john@doe.com","jane@doe.com"],"Identity":["JohnDoe"],"objectId":["_asdnkansdjknaskdjnasjkndja","-adffajjdfoaiaefiohnefwprjf"]},"tag_group":"mytaggroup","content":{"title":"Welcome","body":"Smsbody","platform_specific":{"ios":{"deep_link":"example.com","sound_file":"example.caf","category":"notification
        category","badge_count":1,"key":"value_ios"},"android":{"background_image":"http://example.jpg","default_sound":true,"deep_link":"example.com","large_icon":"http://example.png","key":"value_android","wzrk_cid":"engagement"}}},"respect_frequency_caps":false}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "message" : "Added to queue for processing" , "status" : "success"}'
  recorded_at: Thu, 15 Oct 2020 22:29:58 GMT
recorded_with: VCR 5.1.0
