---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"","ts":1488804947,"type":"event","evtData":{"User
        ID":555,"mobile":true},"evtName":"register"}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 523 , "error" : "''identity'' or ''fbId'' or ''gpId''
        or ''objectId'' is necessary under 120 chars to identify the user. Skipped
        record number : 1" , "record" : "{ \"identity\" : \"\" , \"ts\" : 1488804947
        , \"type\" : \"event\" , \"evtData\" : { \"User ID\" : 555 , \"mobile\" :
        true} , \"evtName\" : \"register\"}"}]}'
  recorded_at: Mon, 06 Mar 2017 12:55:47 GMT
recorded_with: VCR 3.0.3
