---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":"","ts":1488267395,"type":"profile","profileData":{"id":20,"created_at":"2017-02-28
        09:36:35 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":"","ts":1488267395,"type":"profile","profileData":{"id":21,"created_at":"2017-02-28
        09:36:35 +0200","Name":"John Rush","Email":"example@gmail.com","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 523 , "error" : "''identity'' or ''fbId'' or ''gpId''
        or ''objectId'' is necessary under 120 chars to identify the user. Skipped
        record number : 1" , "record" : "{ \"identity\" : \"\" , \"ts\" : 1488267395
        , \"type\" : \"profile\" , \"profileData\" : { \"id\" : 20 , \"created_at\"
        : \"2017-02-28 09:36:35 +0200\" , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\"
        , \"Gender\" : \"M\" , \"Phone\" : \"+35922333232\" , \"Employed\" : \"Y\"
        , \"Education\" : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"18\"}}"}
        , { "status" : "fail" , "code" : 523 , "error" : "''identity'' or ''fbId''
        or ''gpId'' or ''objectId'' is necessary under 120 chars to identify the user.
        Skipped record number : 2" , "record" : "{ \"identity\" : \"\" , \"ts\" :
        1488267395 , \"type\" : \"profile\" , \"profileData\" : { \"id\" : 21 , \"created_at\"
        : \"2017-02-28 09:36:35 +0200\" , \"Name\" : \"John Rush\" , \"Email\" : \"example@gmail.com\"
        , \"Gender\" : \"M\" , \"Phone\" : \"+35922333232\" , \"Employed\" : \"Y\"
        , \"Education\" : \"Graduate\" , \"Married\" : \"Y\" , \"Age\" : \"18\"}}"}]}'
  recorded_at: Tue, 28 Feb 2017 07:36:35 GMT
recorded_with: VCR 3.0.3
