---
http_interactions:
- request:
    method: post
    uri: https://api.clevertap.com/1/upload
    body:
      encoding: UTF-8
      string: '{"d":[{"identity":8,"ts":1488816780,"type":"profile","profileData":{"identity":8,"created_at":"2017-03-06
        18:13:00 +0200","Name":"John Rush","Email":"1234","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}},{"identity":9,"ts":1488816780,"type":"profile","profileData":{"identity":9,"created_at":"2017-03-06
        18:13:00 +0200","Name":"John Rush","Email":"1234","Gender":"M","Phone":"+35922333232","Employed":"Y","Education":"Graduate","Married":"Y","Age":"18"}}]}'
    headers:
      Content-Type:
      - application/json
      X-CleverTap-Account-Id:
      - fake_account_id
      X-CleverTap-Passcode:
      - fake_passcode
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{ "status" : "success" , "processed" : 0 , "unprocessed" : [ { "status"
        : "fail" , "code" : 515 , "error" : "Profile data is incorrect. Email is not
        valid.Skipped record number : 1" , "record" : "{ \"identity\" : 8 , \"ts\"
        : 1488816780 , \"type\" : \"profile\" , \"profileData\" : { \"identity\" :
        8 , \"created_at\" : \"2017-03-06 18:13:00 +0200\" , \"Name\" : \"John Rush\"
        , \"Email\" : \"1234\" , \"Gender\" : \"M\" , \"Phone\" : \"+35922333232\"
        , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\" , \"Married\" : \"Y\"
        , \"Age\" : \"18\"}}"} , { "status" : "fail" , "code" : 515 , "error" : "Profile
        data is incorrect. Email is not valid.Skipped record number : 2" , "record"
        : "{ \"identity\" : 9 , \"ts\" : 1488816780 , \"type\" : \"profile\" , \"profileData\"
        : { \"identity\" : 9 , \"created_at\" : \"2017-03-06 18:13:00 +0200\" , \"Name\"
        : \"John Rush\" , \"Email\" : \"1234\" , \"Gender\" : \"M\" , \"Phone\" :
        \"+35922333232\" , \"Employed\" : \"Y\" , \"Education\" : \"Graduate\" , \"Married\"
        : \"Y\" , \"Age\" : \"18\"}}"}]}'
  recorded_at: Mon, 06 Mar 2017 16:13:00 GMT
recorded_with: VCR 3.0.3
